{% extends "base.html" %}

{% block login %}
{% if not user_login %}
	<form action=do_login method="POST">
		{% csrf_token %}
		<table >{{ login_form.as_table }}</table>
		<input type="submit" value="Login">
	</form> 
{% else %}
	Hi, {{ user_login }}! <a href=do_logout>Logout</a>
{% endif %}
{% endblock %}

{% block register %}
{% if not user_login %}
	<a href=register>Register</a>
{% endif %}
{% endblock %}
	
{% block reservations %}
{% if user_login %}
	<a href=past_reservations>Past reservations</a>
{% endif %}
{% endblock %}
