{% extends "base.html" %}
{% block page_title %}Main Page{% endblock %}

{% block body %}
{% if user %}

Hi, {{ user }}!
<p><a href=past_reservations>Past reservations</a>
<p><a href=do_logout>Logout</a>

{% else %}

<form action=do_login method="POST">
{% csrf_token %}
{{ login_form }}
<input type="submit" value="Login">
</form>
<p><a href=register>Register</a>

{% endif %}

<p>New Reservation:
<p><form action=do_reserve method="POST">
	{% csrf_token %}
	
	<table>
	{{ reserve_form.as_table }}
	<tr><td colspan=2 id="check_date_result"></td></tr>
	</table>
	
	<input type="submit" value="Reserve">
</form>

<!-- <input type="button" value="Test" onclick="checkDate();"> -->
{% endblock %}
