{% load static %}
{% load django_htmx %}
<script src="{% static 'htmx.min.js' %}" defer></script>

<!doctype html>

<head>
    <meta charset="utf-8">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<form id="c_form" hx-post="/test-update" hx-trigger="load">
</form>


<!-- 
<div id="id_update" name="div_update" hx-get="/test-update">CLICK HERE</div>

<form id="formbla">
	  <input id="id_number"
             name="number"
             type="text"
             placeholder="">

	<div id="postbla" hx-post="/test-update" hx-swap=afterbegin hx-target="#results">CLICK HERE POST</div>
	<div id="results"></div>
</form>
-->

</body>

